
{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title>Free Gym Website Template | Home :: w3layouts</title>
<link href="{% static 'css/bootstrap.css'%}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){     
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
            });
        });
    </script>
<!-- grid-slider -->
<script type="text/javascript" src="{% static 'js/jquery.mousewheel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.contentcarousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- //grid-slider -->
</head>
<body>
    <!-- start menu -->
    <div class="menu" id="menu">
      <div class="container">
         <div class="logo">
            <a href="index.html"><img src="{% static 'images/logo.png' %}" alt=""/></a>
         </div>
         <div class="h_menu4"><!-- start h_menu4 -->
           <a class="toggleMenu" href="#">Menu</a>
             <ul class="nav">
               <li class="active"><a href="/">Home</a></li>  
             </ul>
              <script type="text/javascript" src="{% static 'js/nav.js' %}"></script>
          </div><!-- end h_menu4 -->
         <div class="clear"></div>
      </div>
    </div>
    <!-- end menu -->
     <div class="main">
         <div class="container">
            <!-- start content-top -->
            <div class="row content-top">
                 <div class="col-md-5">
                  <img src="{% static 'images/pic1.jpg' %}" class="img-responsive" alt=""/> 
                 </div>
                 <div class="col-md-7 content_left_text">
            <title>Add Workouts</title>
    </head>

    <body>
        <h1>Add Workouts</h1>

        <form id="workout_form" method="post" action="/add_workout_trainer/{{client_id}}"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            <!--{{ workout_form.as_p }} -->

            {% for field in workout_form %}
                <br>
                <label style='color:black;'>{{ field.label }}</label>
                <br>
                {{ field }}
            {% endfor %}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Add Exercises" />
        </form>
    </body>
                 </div>
            </div>
         </div>
