<!DOCTYPE html>

{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title>Workout tracker | Login :: w3layouts</title>
<link href= "{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<html>
    <head>
        <title>Workout-Tracker</title>
    </head>

    <body>
        <h1>Complete your info</h1>

        {% if registered %}
        <strong>Thank you for Signing Up!</strong>
        <a href="">Return to the homepage.</a><br />
        {% else %}
        <strong>Complete your info!</strong><br />

        <form id="client_form" method="post" action="/client_info/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ client_form.as_p }}
            

            <!--{% for f in friend_requests %}
                {{ f.requester.first_name }}
                <div>
                    <a href="/accept/{{ f.id }}/">Accept</a>
                    <a href="/reject/">Reject</a>
                </div>
                Noha
            {% endfor %} -->

            <!-- Provide a button to click to submit the form. -->
            <input type ="hidden" name ="user_id" value="{{user.id}}">
            <input type="submit" name="submit" value="Join" />
        </form>
        {% endif %}
        
    </body>
</html>