{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title>Free Gym Website Template | Login :: w3layouts</title>
<link href= "{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<html>
        <title>Workout-Tracker</title>

    <body>
        <h1>Sign-Up with Workout-Tracker</h1>

        {% if registered %}
        <strong>Thank you for Signing Up!</strong>
        <a href="">Return to the homepage.</a><br />
        {% else %}
        <strong>Sign-Up here!</strong><br />

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            
            <!-- Provide a button to click to submit the form. -->

        <input type="submit" name="trainer" id='submit_trainer' value="Sign-Up as a trainer" />
        <input type="submit" name="client" id='submit_client' value="Sign-Up as  a client" />

        <script src="{% static 'jquery.js' %}"></script>
        <script type="text/javascript">

        $('#submit_trainer').click(function(){
            $('#user_form').attr('action',$('#user_form').attr('action')+'trainer/')
            $('#user_form').submit()
        })

        $('#submit_client').click(function(){
            $('#user_form').attr('action',$('#user_form').attr('action')+'client/')
            $('#user_form').submit()
        })

        </script>
        {% endif %}
        </form>
        


    </body>
</html>